@import 'web-fonts';
@import 'mixins';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "helvetica_neueregular", sans-serif;
  font-size: 16px;
  background-color: $primary-color;
}

// ================== home page style start ==================
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  // max-width: 560px;
  padding: 30px 10px;

  .title {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-family: "helvetica_neuebold", sans-serif;
    line-height: normal;
    padding-bottom: 34px;
  }

  .chart-container {
    background-color: $white;
    padding: 32px;
    border-radius: 40px;

    .chart-title {
      font-family: "helvetica_neuebold", sans-serif;
      font-size: 24px;
      line-height: 1.2;
      color: $black;
      padding-bottom: 42px;
    }

    .tab-and-chart {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .tabs {
      display: flex;
      padding: 12px 32px;
      align-items: center;
      gap: 12px;
      border-radius: 999px;
      background-color: $light-gray;

      .tab-label {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1.12px;
        text-transform: uppercase;
        color: $dark-gray;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 999px;

        &:hover {
          background-color: $white;
        }
      }

      .active-tab-label {
        background-color: $white;
        color: $blue;
      }
    }

    .donut-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 22px;
      flex-shrink: 0;
      list-style-type: none;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 16px;
      font-family: "helvetica_neuemedium", sans-serif;

      .donut-list-item {
        display: flex;
        gap: 13px;
        align-items: center;
        color: $gray;
      }
    }

    .donut-chart {
      text {
        font-family: "helvetica_neuebold", sans-serif;
      }
      .total-value {
        font-size: 10px;
      }
      .decimal-value {
        font-size: 5px;
      }
    }
  }
}
// ================== home page style end ==================

// ================== Media Query ==================
@include media-queries('desktop') {
  .container {
    max-width: 560px;
    .title {
      font-size: 42px;
    }

    .chart-container {
      padding: 32px;

      .tab-and-chart {
        gap: 42px;
      }
    }
  }
}
@include media-queries('desktop-sm') {
  .container {
    max-width: 520px;
    .title {
      font-size: 38px;
    }

    .chart-container {
      padding: 30px;

      .tab-and-chart {
        gap: 36px;
      }

      .donut-list {
        font-size: 16px;
      }
    }
  }
}
@include media-queries('tab-sm') {
  .container {
    max-width: 500px;
    padding: 30px 0;
    .title {
      font-size: 38px;
    }

    .chart-container {
      padding: 30px;

      .tab-and-chart {
        gap: 36px;
      }
    }
  }
}
@include media-queries('mobile') {
  .container {
    max-width: 450px;
  }
}