// colors
$primary-color: #430099;
$light-green: #4fd18b;
$light-blue: #4c49ed;
$dark-blue: #141197;
$soft-blue: #9d9bf4;
$blue: #003eff;
$black: #1f1f23;
$dark-gray: #373b47;
$white: #fff;
$light-gray: #f5f6fa;
$gray: #938FA3;