@font-face {
  font-family: 'helvetica_neuebold';
  src: url('../fonts/helveticaneuebold-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneuebold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_neuemedium';
  src: url('../fonts/helveticaneuemedium-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneuemedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helvetica_neueregular';
  src: url('../fonts/helveticaneueroman-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneueroman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}