@import url("https://fonts.cdnfonts.com/css/helvetica-neue");

// variables
$primary-color: #430099;
$light-green: #4fd18b;
$light-blue: #4c49ed;
$dark-blue: #141197;
$soft-blue: #9d9bf4;
$blue: #003eff;
$black: #1f1f23;
$dark-gray: #373b47;
$white: #fff;
$light-gray: #f5f6fa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $primary-color;
}

// ================== home page style start ==================
.section__container {
  max-width: 560px;
  margin: auto;

  .title {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 34px;
  }

  .chart__container {
    max-height: 545px;
    background-color: #fff;
    padding: 32px 0;
    border-radius: 40px;

    .chart__title {
      font-size: 24px;
      color: $black;
      font-weight: 700;
    }

    .tab__and__chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 42px;
      flex-shrink: 0;
      max-width: 300px;
      margin: auto;
    }

    .tabs {
      display: flex;
      padding: 12px 32px;
      align-items: center;
      gap: 12px;
      border-radius: 30px;
      background-color: $light-gray;

      .tab__label {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0.84px;
        text-transform: uppercase;
        color: $dark-gray;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 16px;

        &:hover {
          background-color: $white;
        }
      }

      .active__tab__label {
        background-color: $white;
        color: $blue;
      }
    }

    .donut__list {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 22px;
      flex-shrink: 0;
      list-style-type: none;
      text-transform: capitalize;

      .donut__list__item {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    // .doughnut-chart-container {
    //   position: relative;
    // }

    // .legend {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   background-color: $white;
    //   padding: 10px;
    //   border-radius: 50%;
    //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    //   .legend-item {
    //     display: flex;
    //     align-items: center;
    //     margin-bottom: 5px;

    //     .legend-color {
    //       width: 15px;
    //       height: 15px;
    //       margin-right: 5px;
    //       border-radius: 50%;
    //     }
    //   }
    // }
  }
}
// ================== home page style end ==================
