// @import url("https://fonts.cdnfonts.com/css/helvetica-neue");
// @import "./fonts/HelveticaNeue/HelveticaNeue-Bold.ttf";
// @import "./fonts/HelveticaNeue/HelveticaNeue-Medium.otf";
// @import "./fonts/HelveticaNeue/HelveticaNeue-Regular.otf";

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("./fonts/HelveticaNeue/HelveticaNeue-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("./fonts/HelveticaNeue/HelveticaNeue-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),
    url("./fonts/HelveticaNeue/HelveticaNeue-Regular.otf") format("opentype");
  font-weight: 400;
}

// variables --> colors
$primary-color: #430099;
$light-green: #4fd18b;
$light-blue: #4c49ed;
$dark-blue: #141197;
$soft-blue: #9d9bf4;
$blue: #003eff;
$black: #1f1f23;
$dark-gray: #373b47;
$white: #fff;
$light-gray: #f5f6fa;

// breakpoints
$xs: 411px;
$sm: 540px;
$smd: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1400px;
$xxxl: 1920px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 16px;
  font-weight: 400;
  // background-color: $primary-color;
}

// ================== home page style start ==================
.home-page {
  background-color: $primary-color;
}

.section-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 400px;
  padding: 30px 10px;

  .title {
    color: #fff;
    text-align: center;
    font-size: 36px; // 42px
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 34px;
  }

  .chart-container {
    width: 100%;
    background-color: $white;
    padding: 28px; // 32px
    border-radius: 40px;

    .chart-title {
      font-size: 24px;
      color: $black;
      font-weight: 700;
    }

    .tab-and-chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px; // 42px
      flex-shrink: 0;
      max-width: 300px;
      margin: auto;
    }

    .tabs {
      display: flex;
      padding: 12px 32px;
      align-items: center;
      gap: 21px;
      border-radius: 30px;
      background-color: $light-gray;

      .tab-label {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.84px;
        text-transform: uppercase;
        color: $dark-gray;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 16px;

        &:hover {
          background-color: $white;
        }
      }

      .active-tab-label {
        background-color: $white;
        color: $blue;
      }
    }

    .donut-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 22px;
      flex-shrink: 0;
      list-style-type: none;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 14px;

      .donut-list-item {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    .donut-chart {
      text {
        font-weight: 700;
      }
      .total-value {
        font-size: 10px;
      }
      .decimal-value {
        font-size: 5px;
      }
    }
  }
}
// ================== home page style end ==================

// ================== Not found Page ==================
.notfound-container {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error {
    font-size: 150px;
    color: $light-blue;
    text-shadow: 1px 1px 1px $dark-blue, 2px 2px 1px $dark-blue,
      3px 3px 1px $dark-blue, 4px 4px 1px $dark-blue, 5px 5px 1px $dark-blue,
      6px 6px 1px $dark-blue, 7px 7px 1px $dark-blue, 8px 8px 1px $dark-blue,
      25px 25px 8px rgba(0, 0, 0, 0.2);
  }

  .page {
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 500;
  }

  .back-home {
    display: inline-block;
    border: 2px solid $primary-color;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.75rem 1rem 0.6rem;
    transition: all 0.2s linear;
  }

  .back-home:hover {
    background: $primary-color;
    color: $white;
  }
}

// ================== Media Query ==================
@media screen and (min-width: $sm) {
  .section-container {
    max-width: 450px;
  }
}

@media screen and (min-width: $md) {
  .section-container {
    max-width: 500px;
    padding: 30px 0;
    .title {
      font-size: 38px;
    }

    .chart-container {
      padding: 30px;

      .tab-and-chart {
        gap: 36px;
      }
    }
  }
}

@media screen and (min-width: $lg) {
  .section-container {
    max-width: 520px;
    .title {
      font-size: 38px;
    }

    .chart-container {
      padding: 30px;

      .tab-and-chart {
        gap: 36px;
      }

      .donut-list {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .section-container {
    max-width: 560px;
    .title {
      font-size: 42px;
    }

    .chart-container {
      padding: 32px;

      .tab-and-chart {
        gap: 42px;
      }
    }
  }
}
